<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <div class="profile-wrap">
            <div class="profile">
                {% if user and user.id %}
                <div class="user-name">안녕안녕 {{user.nick}}님~!</div>
                <div class="user-money">보유 자산: {{user.money}}원</div>
                <input type="hidden" id="my-id" value="user.id">
                <a href="/auth/logout" id="logout" class="btn">로그아웃</a>
                <a href="/good" id="register" class="btn">상품 등록</a>
                {% else %}
                <form action="/auth/login" id="login-form" method="post">
                    <div class="input-group">
                        <label for="email">이메일</label>
                        <input type="email" name="email" id="email" required autofocus>
                    </div>
                    <div class="input-group">
                        <label for="password">비밀번호</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <a href="/join" id="join" class="btn">회원 가입</a>
                    <button type="submit" id="login" class="btn">로그인</button>
                </form>
                {% endif %}
            </div>
            <footer>
                Made by&nbsp; <a href="https://github.com/west-play" target="_blank">SeoYounJu</a>
            </footer>
            {% block good %}
            {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('loginError')) {
                alert(new URL(location.href).searchParams.get('loginError'));
            }
        };
    </script>
</body>

</html>